venv
env
.env
.envs
.gitignore
sqlite3.db
.git
.idea
.github
.gitattributes
staticfiles
docker-compose*
.gitlab-ci.yml
.editorconfig
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
__pycache__/
*.pyc
*.pyo
secret_key.txt
*.pid
.cache
*.log
MAINT.py
ADMIN_PASS
.coverage
undefined
celerybeat-schedule
docker
