octo-framework
boto3
build
celery
Collectfast
colorlog
coverage
cron-descriptor
cryptography
Django~=5.0
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-filter
django-hosts
django-redis
djangorestframework
djangorestframework-simplejwt
django-rest-swagger
django-timezone-field
docopt
drf-spectacular
drf-spectacular-sidecar
Faker
flower
gevent
gunicorn
ipython
nbconvert
pillow
pipdeptree
pip-tools
pre-commit
psycopg2
pyotp
pytest-django
pytest-factoryboy
pytest-mock
pytest-xdist
python-crontab
qrcode
ruff
sentry-sdk
uv
watchfiles
Werkzeug
wheel
yarg
uwsgi


# == docs ===
sphinx
sphinx-rtd-theme
sphinx-autobuild
sphinx-copybutton
sphinxext-opengraph
