name: DiscordBot

on: [milestone, create, delete, fork, issues, pull_request, pull_request_review, issue_comment, push]
jobs:

  webhook-request:

    runs-on: ubuntu-latest
    steps:
    - name: Send a request to webhook
      run: |
        RESPONSE=$(curl -H "Content-Type: application/json" -X POST -d '{
        "username": "Github Bot",
        "content": "@everyone",
        "embeds": [
          {
            "type": "rich",
            "title": "New Changes",
            "description": "New changes on DroneGPS repository by ${{ github.actor }}",
            "color": 2123412,
            "thumbnail": {
              "url": "https://avatars.githubusercontent.com/u/160980408?v=4"
            },
            "author": {
              "name": "${{ github.actor }}",
              "url": "https://github.com/${{ github.actor_id }}",
              "icon_url": "https://avatars.githubusercontent.com/u/${{ github.actor_id }}?v=4"
            },
            "url": "https://github.com/***"
          }
        ]
        }' ${{ secrets.WEBHOOK_URL }})
        echo "Webhook server response: $RESPONSE"
