<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Account Details</title>
</head>
<body>
    <div style="margin: auto;flex: auto;text-align: center;max-width: 500px;font-family: arial;border: 2px #000 solid;border-radius: 20px;">
        <h1>Welcome to {{ app_name }}!</h1>
        <h3>Dear, {{ name }}</h3>
        <h4>Your account has been successfully created. Below are your login details:</h4>
        <ul style="
    list-style: none;
    text-align: -webkit-center;
">
            <li><strong>Email:</strong> {{ email }}</li>
            <li><strong>Password:</strong> {{ password }}</li>
        </ul>
        <p>Please keep your login details safe and do not share them with anyone.</p>
        <p>Thank you for joining us!</p>
        <p><strong> Sincerely, {{ app_name }} Team</strong></p>
    </div>


</body></html>
